.gradle
.idea
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
settings.gradle
gradlew
token.token
build
out.txt
roleReact.json
config.xml
err.txt
stats.xml
github.token
*.jar
auth.json
OAuth2_secret.secret
